#div-1{

    
    margin-top: 250px;
    text-align: center;
    
}

.btn{
    border-radius: 20px;
    cursor: pointer;
    
    
    


}



*{
    background-color: rgb(122, 120, 87);   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div-2{
    text-align: center;
}

.head{
    text-align: center;
    font-size: 50px;
    
}